* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Open Sans", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 66%;
  margin: 0 auto;
}


/* Header */
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure img {
  width: 80px;
}

header a {
  color: #464646;
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 0.9rem;
  font-weight: bold;
  font-variation-settings:
    "wdth" 75;
}



/* Main */
main {
  background-color: black;
  height: 130px;
  font-weight: bolder;
  font-variation-settings:
    "wdth" 80;
}

#content {
  height: 100%;
}

/* Footer */

#navigation {
  background-color: #0282F9;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#navigation img {
  width: 43px;
  height: 55px;
  margin: 10px;
  object-fit: contain
}

#navigation a {
  color: white;
}

#footer-top {
  background-image: url('/public/img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 400px;
  position: relative;
  z-index: -1;
}

#footer-top .logo {
  position: absolute;
  bottom: -20%;
  right: 18%;
}

#footer-top h5 {
  color: white;
  font-weight: bolder;
}

#footer-top a {
  color: #87887C;
  font-size: 0.7rem;
}

#footer-bottom {
  background-color: #303030;
  padding: 45px 0;
}

.submit-button {
  background-color: #303030;
  color: white;
  border: 2px solid #0282F9;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bolder;
  text-align: center;
  padding: 13px 12px;
}

#footer-bottom li {
  padding: 0 10px;
}